.about-hero {
    background: url(/images/hero-bg.png);
    background-position: center center;
    width: 100%;
    min-height: 500px;
    background-repeat: no-repeat, repeat;
    display: flex;
    align-items: center;

}

.about-hero-content-wrapper{
    display: flex;
    align-items: center;
}
.about-hero .about-hero-content{
    color:#fff;
    font-family: poppins;
}
.about-hero .about-hero-content h1{
    font-size:3rem
}
.invest-now .btn{
    color: #fff;
    font-family: poppins;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background: rgb(4, 78, 163);
}
.invest-now h1{
    font-family: poppins;
    font-size: 3rem;
    font-weight: 600 !important;
    color: #020c79;
    letter-spacing: 0px;
    line-height: 1;
}
.invest-now p{
    font-size: 1rem;
    font-family: 'Graphik', sans-serif !important;
    /* font-family: 'Graphik', sans-serif !important; */
    padding-top: 10px;
    letter-spacing: 1.2px;
    line-height: 1.8;
}
.about-main{
    /* padding-bottom: 5rem; */
}
.header-title h1{
    font-size: 1.9rem !important;
font-weight: 600 !important;
font-family: 'Poppins' !important;
color:#020c79;
}
.header-title p{
    font-size: 1rem;
    font-family: 'Graphik', sans-serif !important;
    /* font-family: 'Graphik', sans-serif !important; */
    padding-top: 10px;
    letter-spacing: 1.2px;
    line-height: 1.8;
}
.why-vested{
    display: flex;
    align-items: center;
}